{% extends "phonebook/base.html" %}

{% block content %}

<h3>
    All contacts:
</h3>

{% if contact_list %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contact_list %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No contacts are available.</p>
{% endif %}

{% endblock %}